@using ManagerTaskService.Models
@model AlertViewModel
@{
    ViewBag.Title = "Alerts";
}
<h2>@ViewBag.Title.</h2>

@if (ViewBag.Error != null)
{
    <p class="text-danger warning">@ViewBag.Error</p>
}
else
{
    if (Model.Alerts != null && Model.Alerts.Count > 0)
    {
        <div style="padding:20px">
            <div class="row text-info">
                <div class="col-sm-3 grid-control"><strong>Driver</strong></div>
                <div class="col-sm-3 grid-control"><strong>Alert Type</strong></div>
                <div class="col-sm-3 grid-control"><strong>Alert Level</strong></div>
                <div class="col-sm-3 grid-control"><strong>Date</strong></div>
            </div>
            <div style="padding-top:10px">
                @foreach (var alert in Model.Alerts)
                {
                    <div class="row">
                        <div class="col-sm-3 grid-control">@alert.DriverName</div>
                        <div class="col-sm-3 grid-control">@((AlertType)alert.Type)</div>
                        <div class="col-sm-3 grid-control">@((AlertLevel)alert.Level)</div>
                        <div class="col-sm-3 grid-control">@alert.Date</div>
                    </div>
                }
            </div>
        </div>
        <div class="btn-group">
            @for (int i = 1; i <= Model.PagingInfo.Pages; i++)
            {
                if (i == Model.PagingInfo.CurrentPage)
                {
                    @Html.ActionLink(i.ToString(), "GetAlerts", "Alert", new { area = "", page = i }, new { @class = "btn btn-primary" })
                }
                else
                {
                    if (Model.PagingInfo.CurrentPage - i == Model.PagingInfo.PageSpan)
                    {
                        @Html.ActionLink("<<", "GetAlerts", "Alert", new { area = "", page = i }, new { @class = "btn btn-default" })
                    }
                    else if (i - Model.PagingInfo.CurrentPage == Model.PagingInfo.PageSpan)
                    {
                        @Html.ActionLink(">>", "GetAlerts", "Alert", new { area = "", page = i }, new { @class = "btn btn-default" })
                    }
                    else if (Model.PagingInfo.CurrentPage - i < Model.PagingInfo.PageSpan && i - Model.PagingInfo.CurrentPage < Model.PagingInfo.PageSpan)
                    {
                        @Html.ActionLink(i.ToString(), "GetAlerts", "Alert", new { area = "", page = i }, new { @class = "btn btn-default" })
                    }
                }
            }
        </div>
    }
    else
    {
        <p class="text-danger warning">There are no alerts found</p>
    }
}
